.App{
    margin-top: 10vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // outline: 2px solid red;
    .footer{
        align-self: flex-end;
        justify-self: flex-end;
    }
}