.custom-button{
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: var(--semibold);
    color: var(--light-4);
    background-color: var(--medium-dark);
    border: 2px solid var(--medium-dark);

    &:hover{
        color: var(--medium-dark);
        background-color: var(--light-4);
    }
    &.secondary-button{
        color: var(--medium-dark);
        background-color: var(--light-4);

        &:hover{
            color: var(--light-4);
            background-color: var(--medium-dark);
        }
    }

}