.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  text-transform: capitalize;
  .product-loader-container{
    position: absolute;
    top: -100px;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .image-container {
      // position: fixed;
      // top: 20%;
      width: 80%;
    }
    .info-container {
      width: 90%;
      display: flex;
      flex-direction: column;
      .name {
        font-size: 1.7rem;
        font-weight: var(--semibold);

        span {
          font-weight: var(--normal);
          color: var(--accent);
          font-size: 1.2rem;
        }
      }
      .ram-storage {
        font-weight: var(--semibold);
      }
      .price {
        font-weight: var(--semibold);
        font-size: 1.2rem;
        color: #48b839;
        margin-top: 15px;
      }
      .units-left {
        font-weight: var(--medium);
        margin-bottom: 20px;
        span {
          color: #e56d16;
        }
      }
      .button-container {
        width: 100%;
      }
    }
  }
  .message {
    margin: 25px 0 25px 0;
    text-transform: none;
    h3 {
      font-weight: var(--medium);
      color: #b8a300;
    }
  }
  .description {
    width: 100%;
    padding: 20px 0 5% 20px;
  }
}

@media (min-width: 480px) {
  .product-page {
    .container {
      flex-direction: row;
      justify-content: space-between;
      .image-container {
        width: 40%;
        img {
          width: 100%;
          margin-left: 50px;
        }
      }
      .info-container {
        width: 50%;
        .button-container {
          width: 50%;
        }
      }
    }
    .description {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
