.signin-page{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        margin-top: 25px;
        padding-bottom: 25px;
        align-self: center;
        // transform: translatex(80%);
        span{
            font-weight: var(--semibold);
            color: var(--medium-dark);
        }
    }
    .container{
        width: 90%;
        padding: 5%;
        padding-bottom: 10%;
        // margin-top: 50px;
        margin-bottom: 50px;
        background:  linear-gradient(135deg, rgba(155, 209, 226, 0.528), var(--light-3));
        border-radius: 5px;
        form{
            .form-title{
                color: var(--dark);
                font-weight: var(--semibold);
                font-size: 1.5rem;
                margin-bottom: 25px;
            }
            .inputs-container{
                margin-bottom: 30px;
                div{
                    margin-bottom: 10px;
                }
            }
            .signin-button-container{
                width: 100%;
            }
        }
    }
    .errors{
        color: #ff3f56;
        font-weight: var(--medium);
        margin-bottom: 20px;
    }
}

@media (min-width: 480px) {
    .signin-page{
        height: 100vh;
        background: url('../../../public/signin-bg.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -200px;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        h3{
            margin-top: 0;
            padding-bottom: 25px;
            align-self: center;
            transform: translatex(80%);
            span{
                font-weight: var(--semibold);
                color: var(--medium-dark);
            }
        }
        .container{
        background-color: #ffffff74;
        border-radius: 5px;
        width: 35%;
        padding: 30px;
        margin: 0;
        margin-right: 10%;
        }
    }
}