.custom-input{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 25px;
    .input{
        font-size: 1.5rem;
        background-color: var(--light-4);
        padding: 10px 10px;
        outline: none;
        caret-color: var(--medium-dark);
        border-radius: 5px 5px 0 0;
        &:focus{
            +.label{
                font-size: 1rem;
                color: var(--medium-dark);
                font-weight: var(--medium);
                letter-spacing: .5px;
                top: -25px;                
            }
            ~.msg{
                &::before{
                    width: 100%;
                }

            }
        }
        &:valid{
                +.label{
                    font-size: 1rem;
                    color: var(--medium-dark);
                    font-weight: var(--medium);
                    letter-spacing: .5px;
                    top: -25px;
                }
        }
    }
    .label{
        pointer-events: none;
        color: grey;
        position: absolute;
        top: 13px;
        left: 10px;
        font-size: 1.2rem;
        transition: all .2s ease-in-out;
        text-transform: capitalize;
    }
    .msg{
        font-size: .8rem;
        color: grey;
        // margin-bottom: 20px;
        &::before{
            content: "";
            transition: all .4s ease-in-out;
            width: 0%;
            position: absolute;
            left: 0;
            transform: translatey(-2px);
            border-bottom: 2px solid var(--medium-dark);
        }
    }
    &:hover{
        .label{
            color: var(--medium-dark);
            font-weight: var(--medium);
            letter-spacing: .5px;
        }
    }
}

@media (min-width: 800px) {
    .custom-input{
        .input{
        font-size: 1.2rem;
        // background-color: #ffffff74;
        &:focus{
            +.label{
                top: -25px;
            }
        }
        }
        .label{
            font-size: 1.2rem;
            top: 10px;
        }
    }
}