.header{
    height: 70px !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px 25px;
    // margin-bottom: 25px;
    background-color: var(--secondaryAccent);
    align-items: center;
    .logo{
        font-weight: var(--semibold);
        font-size: 1rem;
        border-bottom: 2px solid transparent;
        position: relative;
        .highlight{
            color: var(--accent);
        }
        .underline{
            width: 0px;
            border-radius: 2px;
            transition: all .25s ease-out;
            position: absolute;
        }
        &:hover{
            .underline{
                background-color: var(--accent);
                height: 3px;
                width: 100%;
            }
        }
        
    }
    .buttons{
        display: flex;
        width: 60%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        .logged-in{
            height: 90%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .signout-container{
                // height: 80%;
                // display: flex;
                // justify-content: center;
            }
            .profile-pic-container{
                cursor: pointer;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--accent);
                background-color: rgba(128, 128, 128, 0.107);
                img{
                    height: 30px;
                    transition: all .2s ease-out;
                }
                &:hover{
                    background-color: var(--secondaryAccent);
                    border-width: 2px;
                    img{
                        height: 32px;
                    }
                }
            }
            // background-color: red;
        }
        .signin-signup{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}

@media (min-width: 450px){
    .header{
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 10;
        padding: 0 25px;
        // margin-bottom: 25px;
        background-color: var(--secondaryAccent);
        align-items: center;
        .logo{
            font-weight: var(--semibold);
            font-size: 1rem;
            .highlight{
                color: var(--accent);
            }
        }
        .buttons{
            display: flex;
            width: 20%;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            .logged-in{
                .signout-container{
                    width: 60%;
                }
            }
            .signin-signup{
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: space-around;
                align-items: center;
            }
            
        }
    }
}