.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .common-loader{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 3px solid var(--medium-dark);
        border-top-color: transparent;
        animation: spin .75s linear infinite;
    }
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}